<! DOCTYPE html>
<html lang= "ru">
    <head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <meta charsret ="UTF-8">
        <link rel="stylesheet" href="../static/css/style.css">
        <title>Fakedestroyer</title>
    </head>
<body>
    <header class = "header">
        <div class=" header__inner">
            <div class="ded">.</div>
         <nav>
             <a class="nav__link" href="/">Главная</a>
             <a class="nav__link"  href="/check">Проверить информацию</a>
             <a class="nav__link"  href="/about">О нас</a>
        </nav>
        </div>
    </header>
    
    
   <div class = "intro2">
        <div class = "container">
       
       </div>
    </div>
    <div class="text">
<!--        <form name="request">-->
    <p align= "center">Проверить информацию на правдивость<br>
   <textarea id="input" name="input" cols="80" rows="6" align="middle"></textarea></p>
  <p class="text__input"><input id = "check" type="submit" value="Проверить">
   <input id="reset" type="reset" value="Очистить"></p>
<!--        </form>-->
    </div>
	

</body>
</html>

<script>
	document.ready(function() {
		console.log("inside check script " )
		
		window.onload = function() {
			if (window.jQuery) {
				// jQuery is loaded
				alert("Yeah!");
			} else {
				// jQuery is not loaded
				alert("Doesn't Work");
			}
		}
		$("#check").click(function(){
			var data = $("input").val();
			console.log(data);
			alert(data + " - data from textarea" );
		})

		$("#reset").click(function(){
			var data = $("input").val();
			console.log("inside clear");
			$("input").val() = "";
		})
  }
	
</script>

